@media screen and (max-width: 479px) {
    .mainSentence{
        display: none;
    }
    .kouen_card{
        width: 95%;
    }
    .kouen_poster{
        width:80%;
    }
    .aboutCard{
        display: none;
    }
}
@media screen and (min-width: 480px) {
    .mainPhoneSentence{
        display: none;
    }
    .kouen_card {
        width: 50%;
    }
    .kouen_poster{
        width:50%;
    }
    .phoneAboutCard{
        display: none;
    }
}